{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<br>
<h1 style="text-align:center;">Home</h1>
<br>
<table class="cities-table" style="width:100%;" cellpadding="1">
	<tr>
		<td align="center" style="padding-bottom: 13px;"><a href="{{ url_for('views.main_view', value='Agrinio') }}">
		<button type="button" class="btn btn-dark" value="Agrinio">Αγρίνιο</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Athens') }}">
		<button type="button" class="btn btn-dark" value="Athens">Αθήνα</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Patra') }}">
		<button type="button" class="btn btn-dark" value="Patra">Πάτρα</button></a></td>
	</tr>
	<tr>
		<td align="center" style="padding-bottom: 13px;">
		<a href="{{ url_for('views.main_view', value='Kalamata') }}">
		<button type="button" class="btn btn-dark" value="Kalamata">Καλαμάτα</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Tripoli') }}">
		<button type="button" class="btn btn-dark" value="Tripoli">Τρίπολη</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Thessaloniki') }}">
		<button type="button" class="btn btn-dark" value="Thessaloniki">Θεσσαλονίκη</button></a></td>
	</tr>
	<tr>
		<td align="center" style="padding-bottom: 13px;">
		<a href="{{ url_for('views.main_view', value='Karpenisi') }}">
		<button type="button" class="btn btn-dark" value="Karpenisi">Καρπενήσι</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Chalkis') }}">
		<button type="button" class="btn btn-dark" value="Chalkis">Χαλκίδα</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Volos') }}">
		<button type="button" class="btn btn-dark" value="volos">Βόλος</button></a></td>
	</tr>
	<tr>
		<td align="center" style="padding-bottom: 13px;">
		<a href="{{ url_for('views.main_view', value='Chania') }}">
		<button type="button" class="btn btn-dark" value="Karpenisi">Χανιά</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Heraklion') }}">
		<button type="button" class="btn btn-dark" value="Chalkis">Ηράκλειο</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Rodos') }}">
		<button type="button" class="btn btn-dark" value="Chalkis">Ρόδος</button></a></td>
	</tr>
	<tr>
		<td align="center" style="padding-bottom: 13px;">
		<a href="{{ url_for('views.main_view', value='Korinthos') }}">
		<button type="button" class="btn btn-dark" value="Karpenisi">Κόρινθος</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Lamia') }}">
		<button type="button" class="btn btn-dark" value="Chalkis">Λαμία</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Ioannina') }}">
		<button type="button" class="btn btn-dark" value="Chalkis">Ιωάννινα</button></a></td>
	</tr>
	<tr>
		<td align="center" style="padding-bottom: 13px;">
		<a href="{{ url_for('views.main_view', value='Larisa') }}">
		<button type="button" class="btn btn-dark" value="Karpenisi">Λάρισα</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Arta') }}">
		<button type="button" class="btn btn-dark" value="Chalkis">Άρτα</button></a></td>
		<td align="center">
		<a href="{{ url_for('views.main_view', value='Kavala') }}">
		<button type="button" class="btn btn-dark" value="Chalkis">Καβάλα</button></a></td>
	</tr>
</table>
{% endblock %}