{% extends "base.html" %}{% block title %}{{city}}{% endblock %}
{% block content %}
<br>
<h1 style="text-align: center;">{{city}}</h1>
<br>
{% for time in timestamp %}
    <table class="main-table">
        <tr>
            <td colspan="2" class="main-td thead"><h4>{{time.time}}</h4></td>
        </tr>
        <tr>
            <td rowspan="4" class="main-td">
                <img src="{{time.icon}}" class="weather-icon">
            </td>
        </tr>
        <tr>
            <td class="main-td"><b>Temperature</b>: {{time.temp}}°C</td>
        </tr>
        <tr>
            <td class="main-td"><b>Feels Like</b>: {{time.feels_like}}°C</td>
        </tr>
        <tr>
            <td class="main-td">Max. Temperature: {{time.temp_max}}°C</td>
        </tr>
        <tr>
            <td rowspan="2" class="main-td"><b>{{time.main_desc}}</b></td>
            <td class="main-td">Humidity: {{time.humidity}}%</td>
        </tr>
        <tr>
            <td class="main-td">Wind Speed: {{time.wind_speed}}m/s</td>
        </tr>
    </table>
{% endfor %}
{% endblock %}