html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

#footer {
    margin-top: auto;
    width: 100%;
}

.main-table {
    width: 60%;
    border: 1px solid dimgray;
    margin: 20px auto;
    text-align: center;
    font-family: sans-serif;
}

.thead {
    background-color: dimgray;
    color: azure;
}

.main-td {
    padding: 10px;
}